## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [4]:
import pandas as pd

In [5]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [98]:
male_count=data[data['sex']=='Male'].shape[0]
female_count=data[data['sex']=='Female'].shape[0]
#data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [6]:
data[data['sex']=='Male']['age'].mean()

39.43354749885268

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [7]:
data[data['native-country']=='United-States'].shape[0] / data.shape[0]

0.895857006848684

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [11]:
more_50k=data[data['salary']=='>50K']
more_50k_mean=more_50k['age'].mean()
more_50k_std=more_50k['age'].std()

less_50k=data[data['salary']=='<=50K']
less_50k_mean=less_50k['age'].mean()
less_50k_std=less_50k['age'].std()

print('more_50k_mean=',more_50k_mean,'more_50k_std=',more_50k_std)
print('less_50k_mean=',less_50k_mean,'less_50k_std=',less_50k_std)

more_50k_mean= 44.24984058155847 more_50k_std= 10.51902771985177
less_50k_mean= 36.78373786407767 less_50k_std= 14.020088490824813

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [108]:
more_50k=data[data['salary']=='>50K']
more_50k['education'].isin(['Bachelors', 'Prof-school', 'Assoc-acdm','Assoc-voc','Masters','Doctorate']) 
#data[data['salary'] == '>50K']['education'].unique()

7        False
8         True
9         True
10       False
11        True
         ...
32539     True
32545     True
32554     True
32557    False
32560    False
Name: education, Length: 7841, dtype: bool

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [12]:
for (race, sex), i in data.groupby(['race', 'sex']):
    print('race-',race,'sex-',sex)
    print(i['age'].describe())

race- Amer-Indian-Eskimo sex- Female
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
race- Amer-Indian-Eskimo sex- Male
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
race- Asian-Pac-Islander sex- Female
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
race- Asian-Pac-Islander sex- Male
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
race- Black sex- Female
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
race- Black sex- Male
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
race- Other sex- Female
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
race- Other sex- Male
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
race- White sex- Female
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
race- White sex- Male
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [14]:
more_50k=data[(data['salary']=='>50K') & (data['sex']=='Male')]
b=more_50k.shape[0]
married_man_count=more_50k[more_50k['marital-status'].str.startswith('Married')].shape[0]/b*100
single_man_count=more_50k[~more_50k['marital-status'].str.startswith('Married')].shape[0]/b*100
print('married_man_count=',married_man_count)
print('single_man_count',single_man_count)

married_man_count= 89.53767637346142
single_man_count 10.462323626538577

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [19]:
hours_per_week_max=data['hours-per-week'].max()
print('hours_per_week_max=',hours_per_week_max)
people=data[data['hours-per-week']==hours_per_week_max]
num_people=people.shape[0]
print('num_people=',num_people)
num_people_more_50k=people[people['salary']=='>50K'].shape[0]
num_people_more_50k
per=num_people_more_50k*100/num_people
print('per_num_people_more_50k=',per)

hours_per_week_max= 99
num_people= 85
per_num_people_more_50k= 29.41176470588235

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [20]:
for (country,salary), i in data.groupby(['native-country','salary']):
    print('country-',country,'salary-',salary)
    print(i['hours-per-week'].mean())

country- ? salary- <=50K
40.16475972540046
country- ? salary- >50K
45.54794520547945
country- Cambodia salary- <=50K
41.416666666666664
country- Cambodia salary- >50K
40.0
country- Canada salary- <=50K
37.91463414634146
country- Canada salary- >50K
45.64102564102564
country- China salary- <=50K
37.38181818181818
country- China salary- >50K
38.9
country- Columbia salary- <=50K
38.68421052631579
country- Columbia salary- >50K
50.0
country- Cuba salary- <=50K
37.98571428571429
country- Cuba salary- >50K
42.44
country- Dominican-Republic salary- <=50K
42.338235294117645
country- Dominican-Republic salary- >50K
47.0
country- Ecuador salary- <=50K
38.041666666666664
country- Ecuador salary- >50K
48.75
country- El-Salvador salary- <=50K
36.03092783505155
country- El-Salvador salary- >50K
45.0
country- England salary- <=50K
40.483333333333334
country- England salary- >50K
44.53333333333333
country- France salary- <=50K
41.05882352941177
country- France salary- >50K
50.75
country- Germany salary- <=50K
39.13978494623656
country- Germany salary- >50K
44.97727272727273
country- Greece salary- <=50K
41.80952380952381
country- Greece salary- >50K
50.625
country- Guatemala salary- <=50K
39.36065573770492
country- Guatemala salary- >50K
36.666666666666664
country- Haiti salary- <=50K
36.325
country- Haiti salary- >50K
42.75
country- Holand-Netherlands salary- <=50K
40.0
country- Honduras salary- <=50K
34.333333333333336
country- Honduras salary- >50K
60.0
country- Hong salary- <=50K
39.142857142857146
country- Hong salary- >50K
45.0
country- Hungary salary- <=50K
31.3
country- Hungary salary- >50K
50.0
country- India salary- <=50K
38.233333333333334
country- India salary- >50K
46.475
country- Iran salary- <=50K
41.44
country- Iran salary- >50K
47.5
country- Ireland salary- <=50K
40.94736842105263
country- Ireland salary- >50K
48.0
country- Italy salary- <=50K
39.625
country- Italy salary- >50K
45.4
country- Jamaica salary- <=50K
38.23943661971831
country- Jamaica salary- >50K
41.1
country- Japan salary- <=50K
41.0
country- Japan salary- >50K
47.958333333333336
country- Laos salary- <=50K
40.375
country- Laos salary- >50K
40.0
country- Mexico salary- <=50K
40.00327868852459
country- Mexico salary- >50K
46.57575757575758
country- Nicaragua salary- <=50K
36.09375
country- Nicaragua salary- >50K
37.5
country- Outlying-US(Guam-USVI-etc) salary- <=50K
41.857142857142854
country- Peru salary- <=50K
35.06896551724138
country- Peru salary- >50K
40.0
country- Philippines salary- <=50K
38.065693430656935
country- Philippines salary- >50K
43.032786885245905
country- Poland salary- <=50K
38.166666666666664
country- Poland salary- >50K
39.0
country- Portugal salary- <=50K
41.93939393939394
country- Portugal salary- >50K
41.5
country- Puerto-Rico salary- <=50K
38.470588235294116
country- Puerto-Rico salary- >50K
39.416666666666664
country- Scotland salary- <=50K
39.44444444444444
country- Scotland salary- >50K
46.666666666666664
country- South salary- <=50K
40.15625
country- South salary- >50K
51.4375
country- Taiwan salary- <=50K
33.774193548387096
country- Taiwan salary- >50K
46.8
country- Thailand salary- <=50K
42.86666666666667
country- Thailand salary- >50K
58.333333333333336
country- Trinadad&Tobago salary- <=50K
37.05882352941177
country- Trinadad&Tobago salary- >50K
40.0
country- United-States salary- <=50K
38.79912723305605
country- United-States salary- >50K
45.50536884674383
country- Vietnam salary- <=50K
37.193548387096776
country- Vietnam salary- >50K
39.2
country- Yugoslavia salary- <=50K
41.6
country- Yugoslavia salary- >50K
49.5

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [6]:
#data.where(16<data.age>35)

import numpy as np

conditions = [
    (data['age'] > 16) & (data['age'] <=35),
    (data['age'] > 35) & (data['age'] <=70),
    (data['age'] > 70) & (data['age'] <=100)
    ]

values = ['young', 'adult', 'retiree']
data['AgeGroup'] = np.select(conditions, values)


data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,AgeGroup
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,adult
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,adult
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,adult
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,adult
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,young

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [240]:
group_max_salary={}
for AgeGroup, i in data.groupby('AgeGroup'):
    print(AgeGroup)
    a=i[i['salary']=='>50K'].shape[0]
    group_max_salary.update({AgeGroup : a})
    print(a)


print(group_max_salary)    
print(max(group_max_salary, key=group_max_salary.get))

adult
6042
retiree
94
young
1705
{'adult': 6042, 'retiree': 94, 'young': 1705}
adult

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [7]:
def filter_func(i):
    #print(i)
    #if i['age'].mean()<=40:
    if (i['age'].mean()<=40) & (i['hours-per-week'] >= 5).all():
        return True
         
    
result=list()

for occupation, i in data.groupby('occupation'):
    print(occupation)
    b=i.shape[0]
    print(b)
    c=filter_func(i)
    if c is True:
        result.append(occupation)

        
        
print('Подходят по условию группы:')
for group in result:
    print(group)

?
1843
Adm-clerical
3770
Armed-Forces
9
Craft-repair
4099
Exec-managerial
4066
Farming-fishing
994
Handlers-cleaners
1370
Machine-op-inspct
2002
Other-service
3295
Priv-house-serv
149
Prof-specialty
4140
Protective-serv
649
Sales
3650
Tech-support
928
Transport-moving
1597
Подходят по условию группы:
Armed-Forces